@charset 'utf-8';


@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

html, body {
    font-family: "Outfit",sans-serif;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 100px;

    background: url(../contents/img/about/about-main-2.jpg) no-repeat top/cover;

    position: relative;
}


.main .main-content .main-logo_title {
    color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

}

.main .main-content .main-logo_title h2 {
    font-family: "Outfit", sans-serif;
    font-size: 80px;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p.bigfont {
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.main .main-content .main-logo_title p.smallfont {
    font-family: "Outfit", sans-serif;
    font-size: 16px;

}

.about {
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

.about .about-des {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}

.about .about-des h3 {
    font-family: "Outfit", sans-serif;
    font-size: 45px;
    font-weight: bold;

    margin-bottom: 40px;
}

.about .about-des .bigfont {
    font-size: 24px;
    margin-bottom: 40px;
}

.about .about-des p:last-child {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    word-break: keep-all;
}

.history {

    width: 100%;
    height: auto;
    background: url(../contents/img/about/history.jpg) no-repeat top;
    
    margin-bottom: 100px;

}

.history .history-content {
    width: 100%;
    height: 575px;
    max-width: 1320px;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto 100px;

}


.history .history-content .history-img img {
    display: block;
}

.history .history-content .history-des {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.history .history-content .history-des h3 {
    font-family: "Outfit", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.history .history-content .history-des p {
    font-family: "Asta Sans", sans-serif;
    font-size: 30px;

}

.history .history-intro {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.history .history-intro .intro-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.history .history-intro .intro-box .des {    
    border-radius: 24px;
    box-sizing: border-box;
    margin-bottom: 40px;
    text-align: left;
    font-family: "Outfit",sans-serif;

    /* outline: 1px solid blue;/// */

}

.history .history-intro .intro-box .des>div {

    width: 200px;
    height: 40px;
    background-color: #D9D0C9;
    color: #fff;
    border: 1px solid #F6EBE3;
    box-sizing: border-box;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    display: block;

    margin-bottom: 30px;



}

.history .history-intro .intro-box .des h4 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

.history .history-intro .intro-box .des .des-box {
    font-family: "Asta Sans", sans-serif;
    font-size: 22px;
}

.history .history-intro .intro-box .intro-img img {
    width: 100%;
    display: block;
}

.history .history-intro .intro-box .history-img-box1 {
    width: 166.66%;

    display: flex;
    width: max-content;
    animation: slideLeft 20s linear infinite;
    box-sizing: border-box;
}

.history .history-intro .intro-box .history-img-box2 {
    width: 166.66%;

    display: flex;
    width: max-content;
    animation: slideRight 20s linear infinite;
}

.history .history-intro .intro-box .history-img-box > div {
    float: left;
}


.vision {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    
}



.vision .vision-content {
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0 auto 100px;
}

.vision .vision-content .vision-title-box {
    width: 100%;
    height: 575px;
    text-align: center;
    background: url(../contents/img/about/vision-main3.jpg) no-repeat top;

    position: relative;
    margin: 0 auto 100px;
    /* outline: 2px solid blue; */
}

.vision .vision-content .vision-title-box .vision-img img {
    display: block;
}

.vision .vision-content .vision-title-box .vision-des {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    

}

.vision .vision-content .vision-title-box .vision-des h3 {
    font-family: "Outfit", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.vision .vision-content .vision-title-box .vision-des p.bigfont {
    font-family: "Asta Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;

}

.vision .vision-content .vision-title-box .vision-des p.smallfont {
    font-family: "Asta Sans", sans-serif;
    font-size: 16px;
}

.vision-title {
    font-family: "Outfit",sans-serif;
    color: #333;
    text-align: center;
}

.vision-title h3 {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 50px;
}

.vision-title p {
    font-size: 20px;
    margin-bottom: 50px;
}

.vision .vision-content .subtitle {
    max-width: 1320px;
    margin: 0 auto 20px;
    /* outline: 2px solid blue; */


}

.vision .vision-content .subtitle p {
    font-family: "Outfit",sans-serif;
    font-size: 20px;
    color: #333;
}

.vision .vision-content .subtitle p > a {
    color: #333;
}

.vision .vision-content .subtitle p:first-child {
    float: left;
}
.vision .vision-content .subtitle p:last-child {
    float: right;
}

.vision .vision-content .vision-intro {
    width: 100%;
    max-width: 1320px;
    height: 500px;
    margin: 0 auto;
    /* overflow: hidden; */
    /* outline: 2px solid blue; */

    position: relative;
    
}
.vision .vision-content .vision-intro .active {
    z-index: 1;
}
.vision .vision-content .vision-intro .vision-box  {
    width: 100%;
    position: absolute;
}
.vision .vision-content .vision-intro .vision-box .vision-img {}
.vision .vision-content .vision-intro .vision-box .vision-img img {
    width: 100%;
    display: block;
}
.vision .vision-content .vision-intro .vision-box .vision-des {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.vision .vision-content .vision-intro .vision-box .vision-des h4 {
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.2;
}
.vision .vision-content .vision-intro .vision-box .vision-des p  {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.cta-btn {
    font-family: "Outfit", sans-serif;
    width: 200px;
    height: 40px;
    background-color: #113829;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;

}

.cta-btn a {
    color: #fff;
}
.cta-btn:hover {
    background-color: #fff;
    border: 1px solid #113829;
    box-sizing: border-box;
    border-radius: 20px;
}

.cta-btn:hover a {
    color: #113829;
}



