@charset "utf-8";

body {
    font-family: "Outfit",sans-serif;
}

.main {
    /* margin-bottom: 100px; */
}

.main .main-content {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto ;
    position: relative;
    text-align: left;

}

.main .main-content .main-img img {
    display: block;
}

.main .main-content .main-logo_title {
    color: #fff;

    position: absolute;
    left: 35%;
    top: 40%;

    transform: translateX(-35%);
    transform: translateY(-35%);

    text-align: center;

}

.main .main-content .main-logo_title h2 {
    font-family: "Outfit", sans-serif;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p.bigfont {
    font-family: "Special Elite", system-ui;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .main-content .main-logo_title p.smallfont {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: bold;

}



.menu {
    margin-bottom: 100px;
}

.menu .menu-title-box {
    width: 100%;
    max-width: 1920px;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto 100px;

}

.menu .menu-title-box .blending-img {
    /* outline: 1px solid blue; */
}

.menu .menu-title-box .blending-img img {
    display: block;
}

.menu .menu-title-box .blending-des {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.menu .menu-title-box .blending-des h3 {
    font-family: "Outfit", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.menu .menu-title-box .blending-des p {
    font-family: "Asta Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;

}

.cta-wrap {
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* outline: 1px solid blue; */
}

.cta-wrap>p {
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    text-decoration: underline;
}

.cta-button2 {
    /* display: inline-block; */
    /* padding: 10px 25px;
    background: rgba(255, 255, 255, 0.2);

    color: #F6EBE3;
    border: 2px solid #F6EBE3;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none; */
    transition: all 0.3s ease;
    margin-right: 10px;

}


.textContent2::after {
    content: "";
    display: block;
    clear: both;
}

#textContent2>a,
#textContent2>span {
    float: left;
}

.cta-button2 img {
    width: 50px;
    display: block;
    color: #F6EBE3;

}

.cta-button2:hover {
    transform: scale(1.2);
}

.info-text2 {

    font-family: "Outfit", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    /* 선택사항 */
    height: 50px;
    font-size: 18px;
    color: #333;

}

.gallery {
    font-family: "Outfit", sans-serif;
    width: 100%;
    max-width: 1920px;
    height: 900px;
    margin: 0 auto 100px;
    background: url(../img/gallery/artist-backimg.jpg) no-repeat top/cover;
    color: #333;
    /* overflow: hidden; */
}

.gallery>p {
    font-size: 0;

}

.gallery .gallery-artist {
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

.gallery .gallery-artist .gallery-box {

    height: 100px;
    /* outline: 3px solid blue; */
    margin: 50px auto 50px;
}

.gallery .gallery-artist .gallery-box>h3 {
    font-size: 60px;
    font-weight: bold;
    float: left;
}

.gallery .gallery-artist .cta-wrap {
    float: right;
    /* outline: 2px solid tomato; */
    line-height: 1;
}

.gallery .gallery-artist .cta-wrap>p {

    /* outline: 2px solid tomato; */
}

.gallery .gallery-artist .cta-wrap>div {
    /* outline: 2px solid tomato; */
}

.gallery .gallery-artist .cta-wrap>p,
.gallery .gallery-artist .cta-wrap>div {
    float: left;
}

.gallery .gallery-artist .gallery-box {}

.gallery .gallery-artist .artist-content {
    
}

.gallery .gallery-artist .artist-content ul {
    width: 700%;
    /* outline: 1px solid blue; */

    position: relative;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    /* 함수 flow 의 left 작동시 필요 */
}

.gallery .gallery-artist .artist-content ul li {
    width: 14.28571428571429%;
    float: left;
    padding-right: 0 20px;
    /* border: 2px solid #daa520; */
    box-sizing: border-box;

    position: relative;

}

.gallery .gallery-artist .artist-content ul li>div {
    width: 60%;

    position: absolute;
    right: 5%;
    top: 50%;

    transform: translateY(-50%);
}

.gallery .gallery-artist .artist-content ul li img {
    display: block;

}

.gallery .gallery-artist .artist-content ul li img {}

.artist-des {}

.artist-des>h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.artist-des > p {
    font-size: 18px;
    color: #555;
    line-height: 2;
}


.exhibition {
    /* outline: 1px solid blue; */
    width: 100%;
    max-width: 1320px;
    margin: 0 auto 100px;
}

.exhibition .line {
    background-color: #000;
    width: 1320px;
    height: 1px;
    margin: 0 auto 100px;

    position: relative;
}

.exhibition .line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    transform: translateY(-50%);
}

.exhibition .title {
    font-size: 60px;
    padding-left: 10px;
    font-weight: bold;
}

.exhibition .exhibition-content .exhibition-box {
    width: 32%;
    float: left;
}

.exhibition .exhibition-content > div~div {
    margin-left: 2%;
}

.exhibition .exhibition-content .exhibition-box .cta-wrap {
    font-weight: bold;
    padding-left: 10px;
    outline: 2px solid darkseagreen;
}

.exhibition .exhibition-content .exhibition-img{
    margin-bottom: 20px;
}
.exhibition .exhibition-content .exhibition-box .exhibition-img img{
    width: 100%;
    display: block;
    /* outline: 3px solid tomato; */
}

.exhibition .exhibition-content .exhibition-box > p {
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 2px solid #000;
    /* float: left; */

}

.exhibition .exhibition-content .exhibition-box > div > a {
    /* float: right; */
}


/*************** welcome   ***********************/

.welcome {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.welcome .line {
    background-color: #000;
    width: 1320px;
    height: 1px;
    margin: 0 auto 100px;

    position: relative;
}

.welcome .line::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    transform: translateY(-50%);
}

.welcome .welcome-content {
    position: relative; /* .welcome-box 와 "welcome-img" 의 기준  */
}

.welcome .welcome-content .welcome-box {
    width: 50%;
    height: 800px;

    position: absolute;
    left: 0;
    top: 50%;
}



.welcome .welcome-content .welcome-box .title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.welcome .welcome-content .welcome-box .title span {
    color: #113829;
}

.welcome .welcome-content .welcome-img {
    height: 800px;
    position: absolute;
    right: 0;

}
.welcome .welcome-content .welcome-img img {
    display: block;
}



