@charset "utf-8";

.main {
    /* margin-bottom: 100px; */
}

.main .main-content {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto 100px;
    position: relative;
    text-align: left;

}

.main .main-content .main-img img {
    display: block;
}

.main .main-content .main-logo_title {
    color: #fff;

    position: absolute;
    left: 32%;
    top: 35%;

    transform: translateX(-35%);
    transform: translateY(-35%);

    text-align: center;

}

.main .main-content .main-logo_title h2 {
    font-family: "Outfit", sans-serif;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p.bigfont {
    font-family: "Special Elite", system-ui;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .main-content .main-logo_title p.smallfont {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.space {
    
}

.space .line {
    background-color: #000;
    width: 1520px;
    height: 1px;
    margin-bottom: 100px;

    position: relative;
}

.space .line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    transform: translateY(-50%);
}

.space .content-box {
    
}
.space .content-box .content-wrap1 {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    /* outline: 3px solid blue; */
    margin-bottom: 100px;
}
.space .content-box .content-wrap1 .box1 {
    /* outline: 1px solid blue; */
    position: relative;
    margin-bottom: 50px;
}
.space .content-box .content-wrap1 .box1 .txt-box1 {
    font-family: "Outfit",sans-serif;
    font-size: 72px;
    width: 40%;

    position: absolute;
    left: 0%;
    top: 50%;

    transform: translateY(-50%);

    display: none; /* 제이쿼리 구현을 위한 초기설정 */
}

.space .content-box .content-wrap1 .box1 .img-box1 {
    width: 50%;
    height: 100%;

    width: 0;
    position: relative;
    left: 44%;
    
    overflow: hidden; /* 히든으로 안보이게 */
}

.space .content-box .content-wrap1 .box1 .img-box1 img {
    height: 100%;
    display: block;
}

.space .content-box .content-wrap1 .txt-box2-1 {
    font-family: "Outfit",sans-serif;
    margin-left: 0%;
    line-height: 2;

    display: none;
}

/************** 2번째 박스 ******************/

.space .content-box {}
.space .content-box .content-wrap2 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto 100px;
    background-color: #F9F6F0;
    padding: 100px 100px;
    box-sizing: border-box;
}
.space .content-box .content-wrap2 .box2 {
    position: relative;
}
.space .content-box .content-wrap2 .box2 .txt-box2 {
    font-family: "Outfit",sans-serif;
    margin-left: 0%;

    position: absolute;
    left: 55%;
    top: 50%;

    display: none;

    transform: translateY(-50%);
}
.space .content-box .content-wrap2 .box2 .txt-box2 p:first-child {
    font-size: 52px;
    margin-bottom: 20px;
}
.space .content-box .content-wrap2 .box2 .txt-box2 h2 {
    font-size: 72px;
    margin-bottom: 20px;
}
.space .content-box .content-wrap2 .box2 .txt-box2 p:last-child {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.space .content-box .content-wrap2 .box2 .img-box2 {
    width: 50%;
    height: 100%;

    width: 0;
    position: relative;
    left: 0;
    
    overflow: hidden; 
    /* 히든으로 안보이게 */
}

.space .content-box .content-wrap2 .box2 .img-box2 img {
    height: 100%;
    display: block;
}

/************** 3번 박스 ************************/

.space .content-box .content-wrap3 {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    /* outline: 3px solid blue; */
    margin-bottom: 100px;
}
.space .content-box .content-wrap3 .box3 {
    /* outline: 1px solid blue; */
    position: relative;
    margin-bottom: 50px;
}
.space .content-box .content-wrap3 .box3 .txt-box3 {
    font-family: "Outfit",sans-serif;
    font-size: 72px;
    width: 40%;

    position: absolute;
    left: 0%;
    top: 50%;

    transform: translateY(-50%);

    display: none; /* 제이쿼리 구현을 위한 준비 */
}

.space .content-box .content-wrap3 .box3 .txt-box3 p {
    font-size: 52px;
    margin-bottom: 20px;
}

.space .content-box .content-wrap3 .box3 .img-box3 {
    width: 50%;
    height: 100%;

    width: 0;
    position: relative;
    left: 44%;
    
    overflow: hidden; /* 제이쿼리 구현을 위한 준비 */
}

.space .content-box .content-wrap3 .box3 .img-box3 img {
    height: 100%;
    display: block;
}

.space .content-box .content-wrap3 .txt-box2-3 {
    font-family: "Outfit",sans-serif;
    margin-left: 0%;
    line-height: 2;

    display: none;
}


/*************** 4번 박스 ****************/

.space .content-box .content-wrap4 {
    width: 100%;
    max-width: 1920px;
    background-color: #F9F6F0;
    margin: 0 auto;
    /* outline: 3px solid blue; */
    margin-bottom: 100px;

    padding: 100px 100px;
    box-sizing: border-box;
}
.space .content-box .content-wrap4 .box4 {
    /* outline: 1px solid blue; */
    position: relative;
}
.space .content-box .content-wrap4 .box4 .txt-box4 {
    font-family: "Outfit",sans-serif;
    font-size: 72px;
    width: 40%;

    position: absolute;
    left: 45%;
    top: 50%;

    transform: translateY(-50%);

    display: none;
}

.space .content-box .content-wrap4 .box4 .txt-box4 p:first-child {
    font-size: 52px;
    margin-bottom: 20px;
}

.space .content-box .content-wrap4 .box4 .txt-box4 h2 {
    margin-bottom: 100px;
}

.space .content-box .content-wrap4 .box4 .txt-box4 p:last-child {
    font-family: "Outfit",sans-serif;
    font-size: 16px;
    margin-left: 0%;
    line-height: 2;
}

.space .content-box .content-wrap4 .box4 .img-box4 {
    width: 50%;
    height: 100%;

    width: 0;
    position: relative;
    left: 0;
    
    overflow: hidden;
}

.space .content-box .content-wrap4 .box4 .img-box4 img {
    height: 100%;
    display: block;
}

.space .content-box .content-wrap4 .txt-box2-4 {
    font-family: "Outfit",sans-serif;
    margin-left: 0%;
    line-height: 2;

    
}