@charset "utf-8";


html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Outfit", sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 100px;

    background: url(../contents/img/visit/visit-main.jpg) no-repeat top/cover;

    position: relative;
}

.main .main-content .main-logo_title {
    color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    text-align: center;

    /* background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px); */

}

.main .main-content .main-logo_title h2 {
    font-size: 60px;
    margin-bottom: 40px;

}

.main .main-content .main-logo_title p {
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;

}

.main .main-content .main-logo_title p.bigfont {
    font-size: 30px;
    margin-bottom: 20px;
}

.main .main-content .main-logo_title p.smallfont {
    font-size: 20px;

}

section.visit {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto 100px;
}

section.visit .visit-list {
    /* outline: 1px solid blue; */
    text-align: center;
}

section.visit .visit-list li {
    width: 33.3%;
    float: left;

    position: relative;
}

section.visit .visit-list li::after {
    content: "";
    display: block;
    width: 1px;
    height: 280px;
    background-color: #ccc;

    position: absolute;
    left: 0;
    top: 12px;

    /* transform: translateY(-50%); */
}

section.visit .visit-list li:first-child::after {
    display: none;
}

section.visit .visit-list li img {
    margin-bottom: 20px;
}

section.visit .visit-list li>div {}

section.visit .visit-list li>div h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

section.visit .visit-list li>div p {
    font-size: 18px;
    color: #555;
    line-height: 2;
}
section.visit .visit-list li>div p a{
    color: #333;
}

section.visit .visit-list li>div p a:hover {
    color: #555;
}

section.reviews {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto 100px;
}

section.reviews .reviews-des  {
    text-align: center;
}
section.reviews .reviews-des h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
section.reviews .reviews-des p {
    font-size: 20px;
    color: #555;
    margin-bottom: 100px;
}

section.reviews .reviews-img {
    margin-bottom: 20px;
}


section.reviews .reviews-box {}
section.reviews .reviews-box li {
    width: 32%;
    float: left;
}

section.reviews .reviews-box li~li {
    margin-left: 2%;
}
section.reviews .reviews-box li img {
    width: 100%;
    display: block;
}

section.reviews ul li {
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.6s;
}
section.reviews ul li:hover {
    transform: scale(1.1);
}



